
<% @encounter.each |encounter| do %>
  <h2>Case ID: <%= link_to encounter.id, encounter_path(encounter) %></h2>
  <p><%= encounter.user.display_name</p>
  <p><%= encounter.category %></p>
  <p><%= encounter.description[0,350] %>...</p>
  <small>Tags: <</small>
<% end %>
