<% content_for :sidebar do %>

<div class="card">
  <div class="card-body">
    <h4 class="card-title mt-2">Recently Reported Encounters</h4>
    <h6 class="card-subtitle mb-2 text-muted">Total Recorded Encounters <%= @encounters.all.count %></h6>
    <img src="'AnomalousEncounters.jpg'" alt="">
  </div>
</div>
<% end %>
