<div class="jumbotron jumbotron-fluid mb-0">
  <div class="container">
    <h1 class="display-4 align-text-bottom text-center">Anomalous Encounters</h1>
  </div>
</div>
<div class="py-3 my-3" style="background: #246499;">
  <h2 class="display-6 text-center mb-0 text-white">Reported Encounters</h2>
</div>

<%= render(@encounters) %>
