<div class="jumbotron jumbotron-fluid mb-0">
  <div class="container">
    <h1 class="display-4 align-text-bottom text-center">Anomalous Encounters</h1>
  </div>
</div>
<div id="banner" class="py-3 my-3" style="background: #246499;">
  <h2 id="bannerHeading" class="display-6 text-center mb-0 text-white">Reported Encounters</h2>
</div>

<section id="encounters">
  <div class="outer-card">
      <%= render(@encounters) %>
  </div>
</section>
