

<div class="py-3 my-3" style="background: #246499;">
  <h2 class="display-6 text-center mb-0 text-white"><%= @user.display_name %>'s Encounters</h2>
</div>

<section id="encounters">
  <%= render 'encounters_display', locals: {encounters: @encounters} %>
</section>


<script id="encounter-template" type="text/x-handlebars-template">

  <div class="card" id="encounter_{{id}}">
    <div class="card-body">
      <a href="{{user_display_name}}/encounters/{{id}}" class="h5 card-title js-show" data-id="{{id}}">Case ID: {{id}}</a>
      <p class="card-text">Date of Encounter: {{date}}</p>
      <p class="card-text">State: {{state}}</p>
      <p class="card-text">Description of Encounter: {{description}}</p>
      <p class="card-text">Category: <a href="/categories/{{category_slug}}">{{category}}</a></p>
      <div class="card-footer">
        Tags:
        {{#each tags}}
        <span><a class="badge badge-info" href="/tags/{{this.slug}}">{{this.name}}</a></span>
        {{/each}}
      </div>
    </div>
  </div>
</script>
