
<div>
  <% if @user %>
    <h1><%= @user.display_name %>'s Encounters</h1>

  <% else @category %>
    <h2>All <%= @category.name %> Encounters</h2>

  <% end %>

  <%= render 'encounters_display', locals: {encounters: @encounters} %>
</div>
