<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 align-text-bottom text-center">Anomalous Encounters</h1>
    <h2 class="display-4 align-text-bottom text-center">25 Most Recently Reported Encounters</h2>

  </div>
</div>

<%= render 'encounters_display' %>
