
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Encounter Tags</h5>
      <% @tags.each do |tag| %>
      <p class="card-text"><%= link_to tag.name, tag_path(tag.name.parameterize) %></p>
      <% end %>
    </div>
  </div>
