// body {
//   background-color: #f4f3ef
// }

a.label:hover, a.label:focus  {
  color: #FFF;
  outline: none;
  background: #538fa0;
}

#error_explanation h2 {
  font-size: 1.2em;
}

#new_encounter label {
  font-weight: 700;
  margin-right: 5px;
}

#new_encounter .form-control {
  display: inline-block;
}

#encounter_description {
  border: #ffa5004d solid 1px;
}

#single-encounter .card-text span {
  font-weight: 400;
}
