

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Top Encounter Categories</h5>
    <% categories.each do |category| %>
    <p class="card-text"><%= link_to category.name, category_encounters_path(category.slug) %><span class="ml-2 badge badge-pill badge-primary"><%= category.category_count %></span></p>
    <% end %>
  </div>
</div>
