<% @categories.each do |cat| %>
  <p><%= cat.name %></p>
  <% if !cat.users.empty? %>
    <p>Top Users:
      <%= User.top_categories(cat.id).map {|user| user.display_name}.join(', ')  %>
    </p>

  <% end %>

<% end %>
