
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Encounter Categories</h5>
    <% @categories.each do |cat| %>
    <p class="card-text"><%= link_to cat.name, category_path(cat.slug), :class => "cat-link" %></p>
    <% end %>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Top Encounter Tags</h5>
    <% tags.each do |tag| %>
    <p class="card-text"><%= link_to tag.name, tag_path(tag.name.parameterize) %><span class="ml-2 badge badge-info"><%= tag.tag_count %></span></p>
    <% end %>
    <hr>
    <%= link_to 'Browse all tags', tags_path %>
  </div>
</div>
